.neos.neos-module table.neos-table tr.disabled td {
	background-color: #2C2C2C;
}

.neos.neos-module table.neos-table tr.self td.neos-action a {
	pointer-events: none;
}

.neos.neos-module table.neos-table tr.self td.neos-action a i {
	color: #888;
}

.neos.neos-module h3 {
	margin-bottom: 1rem;
}
